.blog-list-item {
    width: calc(33.33% - 30px);
    display: inline-block;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 20px 50px;
    margin: 15px;
}
.blog-list-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.blog-list-item .title {
    font-family: 'Orbitron';
    color: #20aaea;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog-list-item .description {
    font-family: 'Montserrat';
    color: #333;
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    display: -webkit-box;
    max-width: 100%;
    height: 150px;
    margin: 0 auto;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog-list-item .author {
    margin: 10px 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
}
.blog-list-item a {
    text-decoration: none;
}
.blog-list-item button:not(.edit):not(.delete) {
    background: #717ED5;
    color: #FFF;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    margin: 30px auto 10px auto;
    border: 1px solid #717ED5;
    padding: 8px 30px;
    cursor: pointer;
    text-decoration: none;
}
.blog-list-item button:not(.edit):not(.delete):hover {
    background: #FFF;
    color: #717ED5;
}
.blog-list-item button.edit {
    text-decoration: none;
    font-size: 30px;
    color: #20aaea;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.blog-list-item button.edit:hover {
    color: #1584b7;
}
.blog-list-item button.delete {
    text-decoration: none;
    font-size: 30px;
    color: #F00;
    margin-top: 10px;
    float: right;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.blog-list-item button.delete:hover {
    color: #940b0b;
}