.copyright-holder {
    background-color: #20AAEA;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.copyright-holder span {
    color: #FFF;
    font-family: 'Orbitron';
    font-size: 14px;
}